#main-container {
    display: flex;
    justify-content: center;
}

#square-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.cell {
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid black;
}